
.center .tab{
	display:flex;
}
.center .tab >div{
	flex:1;
	text-align:center;
}
.center .tab >div span{
	display:block;
	font-size:0.9rem;
}
.center .tab >div img{
	width:3.5rem;
}
.center .ding{
	margin-top:1rem;
	text-align:center;
}
.center .ding span{
	display:block;
	color:#ff0004;
	font-weight:600;
}
.center .ding img{
	width:7.2rem;
}
.center span:first-of-type{
	font-size:1.05rem;
	font-weight:500;
}
.center span:last-of-type{
	font-size:2rem;
}
